
<mat-toolbar color="primary"> Desktop with Angular and Electron </mat-toolbar>

<div class="content-container">
  <button mat-raised-button (click)="localError()">
    Local front end error
  </button>
  <button mat-raised-button (click)="failingRequest()">
    Server request with error
  </button>
  <button mat-raised-button (click)="successfulRequest()">
    Successful request showing loading spinner
  </button>
</div>


 
<h1> Desktop with Angular and Electron </h1>
<router-outlet></router-outlet>
