<section class="example-section" [formGroup]="typeOfNotes">
  <mat-checkbox formControlName="superHighNotes"  (change)="typeOfNoteChanged()">superHighNotes</mat-checkbox>
  <mat-checkbox formControlName="highNotes"  (change)="typeOfNoteChanged()">highNotes</mat-checkbox>
  <mat-checkbox formControlName="middleNotes"  (change)="typeOfNoteChanged()">middleNotes</mat-checkbox>
  <mat-checkbox formControlName="lowNotes"  (change)="typeOfNoteChanged()">lowNotes</mat-checkbox>
  <mat-checkbox formControlName="superLowNotes"  (change)="typeOfNoteChanged()">superLowNotes</mat-checkbox>
</section>

<!-- 
<section class="example-section" [formGroup]="typeOfNotes">
  <h4>You chose:</h4>
  {{typeOfNotes.value | json}}
</section>

-->

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}">
      <mat-header-cell *matHeaderCellDef
          [style.background-color]="'aqua'"
          [matTooltip]="getColumnTooltipText(column)">
        {{column}}</mat-header-cell>
      <mat-cell 
        [class.color]="column === 'Moveable Notes'" 
        *matCellDef="let row" >
         {{getKeyValue(row, column)}} 
      </mat-cell>
    </ng-container>    

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row [@rowsAnimation]=""         
        *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
    <!--    [class.color]="row.moveSemiTone === 0"    -->
  </mat-table>
</div>