.mat-sort-header-container {
  align-items: center;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 100%;
}
.color {
  background-color: aqua;
}
.mat-row.hovered {
  background: #ebaaaa;
}
